html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1{
    color: #0F8CDF;
    margin-bottom: 0.625em;
    font-size: 1.25rem;
}

i{
    font-size: 1rem;
    cursor: pointer;
}

.fa-solid {
    color: #999;
}

.liked{
    color: red;
}

.retweeted {
    color: limegreen;
}

/* layout */

main, header{
    width: 30%;
    margin: 0 auto;
}

header{
    padding-bottom: 1.56em;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 0.625em;
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 0.625em;
    margin: 0 0 1.25em 0;
    height: 60px;
    width: 100%;
    font-size: 1.25em;
    line-height: 2;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 0.625em 1.25em;
    border-radius: 1.25em;
    width: 100%; 
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 1.25em 0 0 0;
    width: 100%;
    margin: 1em 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 0.625em;
}

.tweet-details{
    display: flex;
    font-size: 0.8125rem;
    justify-content: space-between;
    width: 90%;
}

.tweet-detail{
    display: flex;
    gap: 0.25em;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 1.25em 0 0 0px;
    margin: 0.625em 0 0.625em 2.5em;
    width: 90%;
}

.handle{
    font-size: 0.75rem;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 90%;
    font-size: 0.875rem;
    line-height: 1.5;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 16%;
}

/* utility */
.hidden{
    display: none;
}